@charset 'UTF-8';
@import 'reset';

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: #000;
    .inner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:10px;
        -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
        margin-top: -200px;
        .box{
            position: relative;
            width: 200px;
            height: 200px;
            background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%,transparent 60%,transparent 100%);
            background-size: 40px 40px;
            transform : rotate(calc(var(--i) * 90deg));
            filter: hue-rotate(calc(var(--i) * 90deg));
            border: 10px solid rgba(0,0,0,0.5);
            border-radius: 100px 0;
            animation: animate 1s linear infinite;
        }
    }
}
@keyframes animate {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 40px;
    }
}